* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-color: #15202b;
}
.text-area,
.user-text-area {
  width: 100%;
  resize: none;
  font-size: 16px;
  background-color: #15202b;
  border: none;
  padding: 1rem;
  color: white;
  outline: none;
}
.text-area::placeholder  {
  opacity: 0.8;
  color: white;
}
.chars-alert {
  width: fit-content;
  font-size: 12px;
  height: 1.8rem;
}
.tweet-create-box,
.user-box,
.signUp {
  margin-left: 25%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid black;
  justify-content: center;
  align-self: center;
  font-size: 10;
  margin-bottom: 1rem;
}
.bottom-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweet-btn {
  align-self: flex-end;
  width: 4rem;
  margin-bottom: 0.7rem;
  margin-right: 0.6rem;
}
.btn-position-helper {
  display: flex;
}
.tweetie {
  display: flex;
  background-color: #343a40;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  height: fit-content;
  color: white;
  padding: 1rem;
}
.tweetie-top {
  display: flex;
  justify-content: space-between;
  color: #6c757d;
  font-size: 0.8rem;
}
.tweetie-text {
  overflow-wrap: break-word;
  font-size: 0.8rem;
  margin-top:0.8rem;
  margin-left: 2.5rem;
}
.nav {
  background-color: #343a40;
  display: flex;
  width: 75%;
  margin-left: 12%;
  margin-bottom: 2rem;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 2.18rem;
  height: 3.6rem;
  text-align: center;
  width: fit-content;
  padding-top: 0.8rem;
}
a:hover,
.active {
  color: #fff;
}

#user-title {
  font-size: 2rem;
  font-weight: bold;
}
.user-box {
  width: 50%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 3rem;
}
#user-input-title,
#user-title {
  align-self: flex-start;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
#user-input-title {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
.user-text-area {
  border: solid #cccccc;
}
.user-btn {
  width: 4.25rem;
  align-self: flex-end;
  margin-top: 1rem;
}
.signUp {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: none;
  padding: 2rem;
 
}
.signUp-welcome, .login-title{
  font-family: "Roboto", sans-serif;
  color: #cbfeff;
  font-weight: bolder;
  margin: 0;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px  #343a40;
}
.signUp-mini-title{ 
margin-bottom: 1rem;
  color: #cbfeff;
  font-size: 0.8rem;
 

}
.signUp input {
  margin-bottom: 0.8rem;
  padding: 0.2rem;
  background-color: #15202b;
border:none;
border-bottom: solid #c0c2ce;
  color: aliceblue;
  width: 75%;

}
.signUp input::placeholder{
  font-size: 0.8rem;
}
.signUp input:focus{
  border: none;
}
.signUp-confirm{
  color: #a2bbce;
  
  
  margin-top: 0.5rem;

}
.signUp button {
  padding: 0.6rem;
  margin-top: 0.5rem;
  width: 75%;
}
.google-button{
  
}
.profile-img{
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius:  50%;
}
.upload-img-box{
  display:flex;
  margin-top: 2rem;

}
.upload-img-input{
  color: #fff;
  font-size: 0.8rem;
}

.upload-img-input[type="file"]:hover{
cursor: pointer;
  
}
.upload-submit{
  width: 50%;
  font-size: 0.8rem;
  letter-spacing: 0.01rem;
}
.user-info{
  display: flex;

}
