* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-color: #15202b;
}
.text-area {
  width: 100%;
  resize: none;
  font-size: 16px;
  background-color: #15202b;
  border: none;
  padding: 1rem;
  color: white;
  outline: none;
}
.text-area::placeholder {
  opacity: 0.5;
  color: white;
}
.chars-alert {
  width: fit-content;
  font-size: 12px;
  height: 1.8rem;
}
.tweet-create-box {
  margin-left: 25%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid black;
  justify-content: center;
  align-self: center;
  font-size: 10;
  margin-bottom: 1rem;
}
.bottom-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-box:hover {
  cursor: pointer;
}
.tweet-btn {
  align-self: flex-end;
  width: 4rem;
  margin-bottom: 0.7rem;
  margin-right: 0.6rem;
}
.btn-position-helper {
  display: flex;
}
.tweetie {
  display: flex;
  background-color: #343a40;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  height: fit-content;
  color: white;
  padding: 1rem;
}
.tweetie-top {
  display: flex;
  justify-content: space-between;
  color: #6c757d;
  font-size: 0.8rem;
}
.tweetie-text {
  overflow-wrap: break-word;
  font-size: 0.8rem;
}
